body {
    font-family: Arial, sans-serif;
    background-color: rgb(104, 82, 247);
}
.container {
    position: relative;
    top: 100px;
    max-width: 800px;
    background-color: lightskyblue;
    margin: 0 auto;
    height: 400px;  
    padding: 20px;
    border: 2px solid navy;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px;
}

.penger{
    position: relative;
    top: 20px;
    z-index: 1px;
    width: 100px;
    left: 1070px;

}

.Change{
    position: relative;
    top: 51px;
    left: 179px;
    font-size: medium;

}

.number{
    position: relative;
    left: 300px;

}